.nominees-list {
  text-align: center;
}
.nominees-list ul li {
  color: #02245d;
  font-weight: bold;
}
.nominees-list ul li:hover {
  border-bottom: 1px dotted #02245d;
  box-sizing: border-box;
  cursor: pointer;
}
.navbar-nav {
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
}
.navbar-light .navbar-nav .nav-link {
  /* color: #02245d; */
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  line-height: 6px;
}
.navbar-nav li:hover {
  border-bottom: 1px dotted #02245d;
}
.nominee-wrap {
  margin-top: 40px;
}
@media only screen and (max-width: 600px) {
  .navbar-light .navbar-nav .nav-link {
    line-height: 16px;
  }
  .nominee-name {
    text-align: center;
  }
}
